## Importing Libraries

In [13]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [14]:
data = pd.read_csv('data/Book1.csv')

In [15]:
data

    x  y
0   5  5
1   6  4
2  21  4
3   4  4
4   5  1
5   6  3

In [16]:
data['x'] = data['x']/2

In [17]:
data

      x  y
0   2.5  5
1   3.0  4
2  10.5  4
3   2.0  4
4   2.5  1
5   3.0  3